body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* background: linear-gradient(135deg, #f1c40f, #33d2ca); */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #2c3e50;
    flex-direction: column; 

}
/* all the content with background color */
#content{
    background-color: #00000085;
    width: 96%;
}

/* the container of each faq */
.faq-container {
    width: 90%;
    max-width: 800px;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 70px;
    margin:0 auto;
    /* background-image: url(../assets/faq.png);
    background-size: contain 50px 50px ;
    background-position: 5px 5px; */
    margin-bottom: 15px;
    margin-top: 15px;

}
/* the title of each faq */
.faq-title {
    font-size: 2.5rem;
    text-align: center;
    color: #2c3e50;
    margin-bottom: 20px;
    border-bottom: 2px solid #f1c40f;
    padding-bottom: 10px;
}

.faq-item {
    margin: 10px 0;
    padding: 15px;
    border-radius: 10px;
    border: #2c3e504e 0.5px solid;
    background: #f1f8ff;
    transition: transform 0.3s, background 0.3s;
    cursor: pointer;
}

.faq-item:hover {
    background: #f0e68c;
    transform: scale(1.02);
}

.question {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

.answer {
    display: none;
    font-size: 1.2rem;
    line-height: 1.6;
    margin-top: 10px;
    color: #34495e;
}

.faq-item.active .answer {
    display: block;
}

.faq-item.active {
    background: #33d2ca;
    color: #fff;
}

.faq-footer {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    /* background-color: #f0f9f6; */
    /* color: #00796b; */
    background-color: #f1f8ff;
    color: #2c3e50;

    font-size: 1.2rem;
    border-top: 3px dashed #00796b;
    border-radius: 0 0 10px 10px;
    margin-bottom: 15px;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
}


.faq-footer p {
    margin: 0;
    font-weight: 500;
    line-height: 1.6;
}

.faq-footer strong {
    color: #004d40;
    font-weight: bold;
}
